/engine/dist/
/engine/build/
/engine/nbproject/private/
/netbeans/harness/nbi/.common/
/sdk/build/
/sdk/jme3-code-check/build/
/sdk/jme3-codepalette/build/
/sdk/jme3-core-baselibs/build/
/sdk/jme3-core-libraries/build/
/sdk/jme3-core-updatecenters/build/
/sdk/nbproject/private/
/engine/src/android/nbproject/private/

target
*.iml
*.ipr
*.iws
/.idea
out
lib_managed
src_managed
project/boot*
project/plugins/project

/.idea_modules/